*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
  font-family:'Roboto', sans-serif;
}
img{
  max-width:5%;
}
nav{
  background-color: #f0f8ff;
}
nav div button{
  background-color: #f0f8ff;
  padding: 10px;
  justify-content: space-between;
  border-radius: 15px;
  border: 3px solid #6b08ee;
}